
body {
      font: 0.8em arial, sans-serif;
      color: steelblue;
      background-color: #FFFFFF;
      margin: 20px 40px 20px 40px;
    }
    
#error {
      font: 0.8em arial, sans-serif;
      color: red;
      font-weight:bold;font-size: 18pt;
      margin: 20px 40px 20px 40px;
    }

    #siteBox {
      width: 99%;
      float: left;
      background: url(../images/logo.gif) no-repeat left bottom;
    }
    
/* -- Form -- */      
    
    input[type=submit], input[type=button] {
	margin: 5px 5px 5px 0;
	cursor: pointer;
	font-family:sans;
	font-style:italic;
	font-weight:bold;font-size: 18pt;
}

input[type=text], input[type=password], select {
	  font-family:Verdana,Tahoma,Arial,Sans-serif;
	font-weight:bold;
	font-size: 18pt;
	margin: 5px 5px 5px 0;
}

input[type=textarea] {
	font-family:Verdana,Tahoma,Arial,Sans-serif;
	font-weight:bold;
	font-size: 12pt;
	margin: 5px 5px 5px 0;
}
   
span { color:red; }

.displayRun {
border: 1px solid silver;
font-family: Arial,Helvetica,sans-serif;
font-size: large;
color: white;
background-color: #3f4051;
}

    
.editable {
      font: 16pt verdana,arial, sans-serif;
      color: steelblue;
      background-color: #FFFFFF;
      margin: 20px 40px 20px 40px;
    }    
    
.panelGrid {
	font-family:Arial,Verdana,Tahoma,Sans-serif;
	font-weight:bold;
	font-size: 15pt;
	margin: 5px 5px 5px 0;
}
       
/* -- Header definitions -- */    
    
    

    #headerBox {
      float: left;
      width: 100%;
      height: 115px;
      font-size: 1.5em;
      font-weight: bold;
      background: url(../images/hdr_bg.gif) repeat-x left bottom;

    }

    #headerLeft {
      float: left;
      width: 39%;
      height: 50px;
      background: url(../images/hdr_left.gif) no-repeat left bottom;
    }

    #headerRight {
      float: right;
      width: 59%;
      height: 50px;
      text-align: right;
      background: url(../images/hdr_right.gif) no-repeat right bottom;
    }
    
  #submenu {
      width: 59%;
      height: 60px;
      text-align: left;

    }



/* -- Header link bar definitions -- */



    #submenu a {
      padding-left: 20px;
      text-decoration: none;
      color: #999999;
    }

    #submenu a:hover {
      color: #444444;

    }

    #submenu a.add:hover {
	  color: #444444;
	  background: url(../images/add.jpg) no-repeat left center;
    }
    
    #submenu a.gallery:hover {
	  color: #444444;
	  background: url(../images/icn_gallery.gif) no-repeat left center;
    }


    #headerRight a {
      padding-left: 20px;
      text-decoration: none;
      color: #999999;
    }

    #headerRight a:hover {
      color: #444444;

    }

    #headerRight a.home:hover {
	  color: #444444;
	  background: url(../images/icn_home.gif) no-repeat left center;
    }

    #headerRight a.gallery:hover {
	  color: #444444;
	  background: url(../images/icn_gallery.gif) no-repeat left center;
    }

    #headerRight a.about:hover {
	  color: #444444;
	  background: url(../images/icn_about.gif) no-repeat left center;
    }

    #headerRight a.links:hover {
	  color: #444444;
	  background: url(../images/icn_links.gif) no-repeat left center;
    }


    #headerRight a.email:hover {
	  color: #444444;
	  background: url(../images/icn_email.gif) no-repeat left center;
    }



/* -- Footer definitions -- */



    #footerBox {
      float: left;
      width: 100%;
      height: 25px;
      font-size: 0.8em;
      color: #999999;
      border-top: 1px solid #D1D1D1;
    }

    #footerLeft {
      float: left;
      width: 49%;
      text-align: left;
          }

    #footerRight {
      float: right;
      width: 49%;
      text-align: right;      
    }



/* -- Content column & layout definitions -- */



    #leftColumn {
      float: left;
      width: 15%;
      padding: 0 5px 5px 5px;
      margin: 1.0em 0 1.0em 0;
    }


    .leftColumnBox {
      float: left;
      width: 100%;
      margin-bottom: 1.4em;
      padding-top: 5px;
      border-top: 1px solid #444444;
      border-bottom: 1px solid #444444;
      background: url(../images/news_bg.gif) repeat left bottom;
    }

    #leftColumn p {
      margin-top: 1px;
    }

    #leftColumn h1 {
      clear: both;
      font-size: 18pt;
      margin-bottom: 1px;
    }

    #rightColumn {
      float: right;
      width: 98%;
    }


    #leftColumn p a,
    #rightColumn p a,
    #rightColumn ul a,
    #footerBox a {
      text-decoration: none;
      color: #999999;
      background: #EEEEEE;

    }

    #leftColumn p a:hover,
    #rightColumn p a:hover,
    #rightColumn ul a:hover,
    #footerBox a:hover {
      color: #111111;
      background: #CCCCCC url(../images/a_hover.gif) repeat-x left bottom;
    }

    #rightColumn h1 {
      clear: both;
      font-size: 16pt;
      margin-top: 1.0em;
      border-top: 1px solid #444444;
      border-bottom: 1px solid #444444;
      background: url(../images/news_bg.gif) repeat left bottom;
    }



/* -- Layout class definitions -- */



    .subHeading {
      display: block;
      clear: both;
      font-size: 0.85em;
      font-weight: bold;
    }
    
    .noDisplay  {
      display: none;
    }

    .bugFix {
      height: 1px;
    }

    .bigRightChar, .bigLeftChar {
      font-size: 5.0em;  
    }

    .bigRightChar {
      float: right;
      width: 11%;
      text-align: left;
    }

    .bigLeftChar {
      float: left;
      width: 10%;
      text-align: right;          
    }
    
    .center {
      text-align: center;
    }
    
    .verticalSpacer {
      height: 1.3em;
    }       
    
    
    
/* -- Element class definitions -- */    
    
    
    
    acronym {
      cursor: help;
      background-color: steelblue;
      border: 1px solid #D2D2D2;      
    }
    
    ul {
      margin-left: 2.0em;
      padding-left: 2.0em;
      list-style-image: url(../images/bullet.gif);
    }

    ul li:hover {
      list-style-image: url(../images/bullet_on.gif);
    }   
    
    p {
      margin: 15px 0 15px 0;
    }    
    
    

/* -- Image class definitions -- */



    .imgBlock {
      float: left;
      width: 75%;
      text-align: center;
      padding-left: 10px;
      margin-bottom: 1.0em;
    }

    .imgBlock .imgThree {
      padding: 0 2% 0 2%;
    }

    .imgLeft {
      float: left;
      padding: 5px;      
    }
    
    .imgRight {
      float: right;
      padding: 5px;      
    }    

    .imgText {
      display: block;
      font-size: 0.7em;
    }



/* -- Form element class definitions -- */



    .inputField {
      font-size: 0.70em;
      border: 1px solid #D2D2D2;
      background-color: #FFFFFF;
    }

    .inputField:focus {
      color: #444444;
      border: 1px solid #999999;
    }
 
    
    
/* -- Calendar definitions -- */    
    
    
    
    .calendar {      
      width: 90%;
      float: right;      
      text-align: center;
      padding-top: 1em;
    }
    
    .row {
      width: 100%;
      float: left;
    }
    
    
    .day, .blankDay, .currDay, .heading, .month {
      width: 10%;
      float: left;
      margin: 2px;
      font: 10px helvetica, sans-serif;
      border: 1px solid #FFFFFF;      
    }
    
    .day {
      text-decoration: none;      
      color: #AAAAAA;
      border: 1px solid #D2D2D2;
    }
    
    .day:hover {            
      color: #AAAAAA;
      background-color: #EEEEEE;
      border: 1px solid #AAAAAA;
    }    
    
    .currDay {
      cursor: help;
      color: #FFFFFF;
      background-color: #AAAAAA;
      border: 1px solid #AAAAAA;      
    }
    
    .heading {     
      color: #AAAAAA;
    }    
    
    .month {      
      width: 90%;
      text-align: left;
      vertical-align: middle;
      color: #AAAAAA;
    }
    
    .prevMonth {
      text-decoration: none;
      background: url(../images/icn_prev.gif) no-repeat center center;
    }
    
    .prevMonth:hover {
      text-decoration: none;
      background: url(../images/icn_prev_on.gif) no-repeat center center;
    }        
    
    .nextMonth {
      text-decoration: none;
      background: url(../images/icn_next.gif) no-repeat center center;
    } 
    
    .nextMonth:hover {
      text-decoration: none;
      background: url(../images/icn_next_on.gif) no-repeat center center;
    }  
    
    .prevYear {
      text-decoration: none;
      background: url(../images/icn_prev_yr.gif) no-repeat center center;
    }
    
    .prevYear:hover {
      text-decoration: none;
      background: url(../images/icn_prev_yr_on.gif) no-repeat center center;
    }        
    
    .nextYear {
      text-decoration: none;
      background: url(../images/icn_next_yr.gif) no-repeat center center;
    } 
    
    .nextYear:hover {
      text-decoration: none;
      background: url(../images/icn_next_yr_on.gif) no-repeat center center;
    }       
    
    /*  JQuery grid*/
    

		
	.code
		{
		background: #555;
		padding: 10px;
		margin-bottom: 10px;
		display: none;
		color: #eee;
		}
		
	.title
		{
		background: #0099FF;
		color: #fff;
		padding: 10px;
		}
	
	.bborder
		{
		background: #eee;
		border: 0px solid #ccc;
		padding: 3px;
		}
		
	.update2
		{
		background:#CCFF33;
		padding: 10px;
		color: #000;
		}
		
		.update2 p
			{
			margin: 0px;
			margin-bottom: 10px;
			}

	.update
		{
			border: 1px solid #777;
			height: 26px;
			overflow: hidden;
		}
		
		.update.fh
			{
			height: auto;
			}
		
		.update p
			{
			margin: 10px;
			}
		
		.update b.top
			{
			cursor: pointer;
			display: block;
			padding: 5px;
			color: #fff;
			position: relative;
			text-transform: uppercase;
			font-size: 12px;
			letter-spacing: 2px;
			border-left: 0px solid #06f;
			border-bottom: 2px solid #0066FF;
			}		

			/* JTIP*/
			
/* ----- add selectors here for font sizing ----- */
#JT_close_left, #JT_close_right{font-size: 1.1em;}
#JT_copy p, #JT_copy ul{font-size: 1.1em;}
p, label{font-size: 1.2em;}
#contentPad{
margin:20px;
}

.formInfo a, .formInfo a:active, formInfo a:visited{

	font-size: 1.3em;
	font-weight:bold;
	padding:1px 2px;
	margin-left:5px;
	color:#660000;
	text-decoration: none;
}

.formInfo a:hover{
	color:#660000;
	text-decoration: none;
}

/* ---------->>> jtip <<<---------------------------------------------------------------*/

#JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}

