<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-AU">

<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
  <meta name="author" content="fullahead.org" />
  <meta name="keywords" content="cloudyDay, fullahead, OWD, more, keywords, should, be, separated, with, commas" />
  <meta name="description" content="OD cloudyDay XHTML template from fullahead.org" />

  <title>( coreREST )</title>

  <link rel="stylesheet" type="text/css" href="css/cloudyDay.css" media="screen, tv, projection" />
</head>

<body>

<!-- Main site container starts -->
<div id="siteBox">



  <!-- Header box starts: page title and top link bar -->
  <div id="headerBox">
    <div id="headerLeft">
      <div class="verticalSpacer">&nbsp;</div>
      coreREST
    </div>
    <div id="headerRight">
      <div class="verticalSpacer">&nbsp;</div>
      <a href="index.html" title="home" class="home">home</a> <span class="noDisplay"> | </span>
      <a href="index.html" title="gallery" class="gallery">gallery</a> <span class="noDisplay"> | </span>
      <a href="index.html" title="about" class="about">about</a> <span class="noDisplay"> | </span>
      <a href="index.html" title="links" class="links">links</a> <span class="noDisplay"> | </span>
      <a href="index.html" title="email" class="email">email</a>
    </div>
  </div>



  <!-- Left content cloumn starts: news/search/images/calendar -->
  <div id="leftColumn">

    <!-- leftColumnBox: use as many of these as you like - they give the diagonal background -->
    <div class="leftColumnBox">

      <h1>designGoing</h1>
      <p>Figured out a way around vertical align &amp; revised the cloud images....<acronym title="cloud try #4">again</acronym>.</p>

      <h1>beautifulWeather</h1>
      <p><a href="http://www.pdga.com" title="but putting sucks">Spring</a> is good.</p>

      <h1>archiveSearch</h1>
      <p>If there was code behind this, you might find something interesting.</p>
      <p class="center"><input type="text" size="20" class="inputField"/> <a href="index.html" title="submit query">submit</a></p>

    </div>


    <!-- Calendar starts -->
    <div class="calendar">

      <!-- Calendar days heading -->
      <div class="row">
        <span class="heading">S</span>
        <span class="heading">M</span>
        <span class="heading">T</span>
        <span class="heading">W</span>
        <span class="heading">T</span>
        <span class="heading">F</span>
        <span class="heading">S</span>
      </div>

      <!-- Calendar week rows start -->
      <div class="row">
        <span class="blankDay">&nbsp;</span>
        <span class="blankDay">&nbsp;</span>
        <span class="blankDay">&nbsp;</span>
        <span class="blankDay">&nbsp;</span>
        <span class="blankDay">&nbsp;</span>
        <a href="index.html" class="day" title="view day">01</a>
        <a href="index.html" class="day" title="view day">02</a>
      </div>

      <div class="row">
        <a href="index.html" class="day" title="view day">03</a>
        <a href="index.html" class="day" title="view day">04</a>
        <a href="index.html" class="day" title="view day">05</a>
        <a href="index.html" class="day" title="view day">06</a>
        <a href="index.html" class="day" title="view day">07</a>
        <a href="index.html" class="day" title="view day">08</a>
        <a href="index.html" class="day" title="view day">09</a>
      </div>

      <div class="row">
        <a href="index.html" class="day" title="view day">10</a>
        <a href="index.html" class="day" title="view day">11</a>
        <a href="index.html" class="day" title="view day">12</a>
        <a href="index.html" class="day" title="view day">13</a>
        <a href="index.html" class="day" title="view day">14</a>
        <a href="index.html" class="day" title="view day">15</a>
        <a href="index.html" class="day" title="view day">16</a>
      </div>

      <div class="row">
        <a href="index.html" class="day" title="view day">17</a>
        <a href="index.html" class="day" title="view day">18</a>
        <a href="index.html" class="day" title="view day">19</a>
        <a href="index.html" class="day" title="view day">20</a>
        <a href="index.html" class="day" title="view day">21</a>
        <a href="index.html" class="day" title="view day">22</a>
        <a href="index.html" class="day" title="view day">23</a>
      </div>

      <div class="row">
        <a href="index.html" class="day" title="view day">24</a>
        <a href="index.html" class="day" title="view day">25</a>
        <a href="index.html" class="day" title="view day">26</a>
        <a href="index.html" class="day" title="view day">27</a>
        <a href="index.html" class="day" title="view day">28</a>
        <a href="index.html" class="day" title="view day">29</a>
        <span class="currDay" title="current day">30</span>
      </div>

      <!-- Calendar month and prev/next buttons -->
      <div class="row">
        <span class="month">
          <a href="index.html" class="prevYear" title="prev year">&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="index.html" class="prevMonth" title="prev month">&nbsp;&nbsp;&nbsp;&nbsp;</a>

          &nbsp;&nbsp;APRIL 2005&nbsp;&nbsp;

          <a href="index.html" class="nextMonth" title="next month">&nbsp;&nbsp;&nbsp;&nbsp;</a>
          <a href="index.html" class="nextYear" title="next year">&nbsp;&nbsp;&nbsp;&nbsp;</a>
        </span>
      </div>

    </div>
    <!-- Calendar ends -->

  </div>





  <!-- Right content column starts: content, images and whatever else you want -->
  <div id="rightColumn">

    <h1>theDetails</h1>
    <p>
    <span class="subHeading">templateInfo</span>
    A tableless/fluid, two column template.  Most of the dimensions are defined relative to the font size, so it gracefully changes size with different resolutions &amp; font sizes. The code is valid <acronym title="eXtensible HyperText Markup Language">XHTML</acronym> 1.0 Strict &amp; <acronym title="Cascading Style Sheets">CSS</acronym>.
    </p>

    <p>
    Total size of the images and files of this template comes in at 20 kb, so it's <acronym title="ouch...">dial-up</acronym> friendly.  It renders consistently in the usual suspects listed below &amp; text only works too:
    </p>

    <!-- <ul> has a hover style defined that looks nice in browsers other than Internet Explorer -->
    <ul>
      <li><a href="http://www.firefox.com/" title="yes">Firefox</a></li>
      <li><a href="http://www.microsoft.com/windows/ie/" title="no...god no...">Internet Explorer</a></li>
      <li><a href="http://www.opera.com/" title="meh">Opera</a></li>
      <li><a href="http://browser.netscape.com/" title="so many browsers">Netscape</a></li>
    </ul>

    <p>
    <span class="subHeading">pictureSupport</span>
    Images are fully supported by this template.  You can display them using three custom classes (.imgLeft/.imgRight to align left/right &amp; .imgBlock to create a center aligned set of images like the one below).  The headings and subHeadings act as boundaries, so pictures won't overflow the section you place them in.
    </p>

    <!-- imgBlock starts: framed by large chars -->
    <div class="bigLeftChar">{</div>

    <div class="imgBlock">
      <img src="images/img_example.gif" alt="testing" class="imgThree"/><img src="images/img_example.gif" alt="testing" class="imgThree"/><img src="images/img_example.gif" alt="testing" class="imgThree"/>
      <span class="imgText">IMAGE TITLE + example of the .imgBlock class</span>
    </div>

    <div class="bigRightChar">}</div>

    <h1>noRightsReserved</h1>
    <p>
    Enjoy the template.  I left the colours neutral so it should be pretty easy to create new colour schemes.  I'm always interested to see how my work is used/adapted so send me a <a href="http://fullahead.org" title="design portfolio">msg</a> with your site's <acronym title="Uniform Resource Locator">URL</acronym> if you end up finding a use for the template.
    </p>

    <!-- IE bug fix; make sure this is the last thing before the closing .rightColumn </div> -->
    <div class="bugFix">
      &nbsp;
    </div>

  </div>




  <div id="footerBox">

    <div id="footerLeft">
	  <a href="http://validator.w3.org/check?uri=referer" title="validate XHTML">valid XHTML</a> | <a href="http://jigsaw.w3.org/css-validator" title="validate CSS">valid CSS</a> | <a href="http://fullahead.org" title="design portfolio">fullahead.org</a> | <a href="http://www.opendesigns.org/profile/?user=snop" title="Open Design">opendesigns.org</a>
    </div>

    <div id="footerRight">
	 &copy; no rights reserved | last updated: <a href="http://www.a1javascripts.com/essential_scripts/lastupdated/lastupdated.html" title="javascript code examples">&lt;!--script here--&gt;</a>
    </div>

  </div>


</div>


</body>
</html>
